.Dropdown-container {
    z-index: 2;
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    label {
        font-family: stylish-bold;
        color: var(--secondary-color);
        padding: 0 5px;
        background-color: white;
        border-radius: 5px;
    }

    .MuiSelect-select {
        font-family: stylish-regular;
    }

    .Dropdown {
        font-size: 1rem;
    }
}
