#legend-area-container {
    z-index: 10;
    position: relative;
    margin: 6px 0 0 6px;
    min-width: 21%;
    height: 26rem;
    max-height: 90%;
    overflow-y: auto;

    @media screen and (min-width: 1190px) {
        & {
            min-width: 23%;
            height: 30rem;
            margin: 20px 0 0 20px;
        }
    }
}

#legend-area {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    margin: 0;
    padding: 10px 15px;
    color: var(--font-color-dark);
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.legend {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 0.6rem;

    @media screen and (min-width: 1200px) {
        & {
            font-size: 0.8rem;
        }
    }

    @media screen and (min-width: 1600px) {
        & {
            font-size: 1rem;
        }
    }
}

.legend-label {
    color: var(--secondary-color);
    font-family: stylish-regular;
    font-size: 0.6rem;

    @media screen and (min-width: 720px) {
        & {
            font-size: 0.8rem;
        }
    }

    @media screen and (min-width: 1200px) {
        & {
            font-size: 1rem;
        }
    }

    @media screen and (min-width: 1600px) {
        & {
            font-size: 1.2rem;
        }
    }
}

.legend-values {
    display: inline-block;
}

.legend-colors {
    vertical-align: middle;
}
