footer {
	padding-top: 3%;
	padding-bottom: 3%;
}

footer img {
	width: 50%;
	height: auto;
	padding: 5%;
	margin: 0%;
}

footer p {
	font-family: footer;
}

footer a:link {
	font-weight: bold;
}

@media screen and (max-width: 1024px) {
	footer p {
		padding: 6%;
	}
}
