footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-family: stylish-light;
    padding: 2rem;
    color: var(--font-color-light);
    background-color: var(--tertiary-color);

    @media screen and (min-width: 768px) {
        & {
            flex-direction: row;
            justify-content: flex-start;
            padding: var(--section-padding);
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }

    p {
        text-align: left;
        max-width: 125ch;
    }
}
