#hero {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;
    height: 50vh;
    min-height: 200px;
    max-height: 900px;

    background-image: url('../assets/images/essential-worker.jpg');
    background-attachment: fixed;
    background-position: 30% 0%;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 1400px) {
        & {
            height: 47vh;
            background-position: 0% 0%;
        }
    }

    @media screen and (min-width: 1500px) {
        & {
            height: 50vh;
        }
    }

    @media screen and (min-width: 2150px) {
        & {
            height: 53vh;
            background-position: 0% 15%;
        }
    }
}

#hero > h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
    background-color: rgb(from var(--secondary-color) r g b / 80%);
    color: var(--font-color-light);
    font-size: 0.9rem;
    font-weight: 900;
    font-family: stylish-bold;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;

    @media screen and (min-width: 768px) {
        & {
            width: 40%;
            font-size: 1.3rem;
        }
    }

    @media screen and (min-width: 1024px) {
        & {
            width: 37%;
            font-size: 1.75rem;
        }
    }

    @media screen and (min-width: 1440px) {
        & {
            width: 33%;
            font-size: 2rem;
        }
    }

    @media screen and (min-width: 2000px) {
        & {
            width: 26%;
        }
    }
}
