section.vertical-items {
	gap: 1rem;
}

.table-summary {
	width: 100%;
	color: white;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background-color: rgb(235, 91, 59);
}

.table-section {
	overflow: auto;
}
