section.vertical-items {
    gap: 0.8rem;
}

.table-summary {
    width: 100%;
    color: var(--font-color-light);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--tertiary-color);
}

.table-section {
    display: block;
    width: 87%;
    overflow: auto;
    padding: 0;

    @media screen and (min-width: 768px) {
        & {
            width: 100%;
            padding: var(--section-padding);
        }
    }
}

#intro,
#methodology {
    p,
    ul {
        font-family: super-legible-regular;
    }
}
