section.vertical-items {
	gap: 0.8rem;
}

.table-summary {
	width: 100%;
	color: #f6f8fa;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background-color: rgb(235, 91, 59);
}

.table-section {
	overflow: auto;
}

#intro,
#methodology {
	p,
	ul {
		font-family: super-legible-regular;
	}
}
