@font-face {
	font-family: hero;
	src: url("./assets/fonts/Comfortaa-Bold.ttf");
}

@font-face {
	font-family: body;
	src: url("./assets/fonts/SourceSansPro-Light.ttf");
}

@font-face {
	font-family: footer;
	src: url("./assets/fonts/OpenSans-Light.ttf");
}

* {
	box-sizing: border-box;
}

html {
	font-family: body;
}

html,
body {
	margin: 0;
	padding: 0;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 3rem;
	width: 100%;
	padding: 74px 0;
	margin: 0;
	background-color: #f6f8fa;

	> section {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
		width: 100%;
		padding: 0 5%;
		margin: 0;

		@media screen and (min-width: 768px) {
			padding: 0 5% 0 15%;
		}

		h2 {
			width: 100%;
		}
	}
}

a:link {
	color: rgb(0, 133, 124);
}

a:visited {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p,
ul {
	width: 100%;
	font-size: 1.3rem;
	text-align: justify;
	text-justify: inter-word;
	margin: 0;
}

p {
	padding: 0;
}
