@font-face {
    font-family: stylish-bold;
    src: url('./assets/fonts/Comfortaa-Bold.ttf');
}

@font-face {
    font-family: stylish-regular;
    src: url('./assets/fonts/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: super-legible-regular;
    src: url('./assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: stylish-light;
    src: url('./assets/fonts/Comfortaa-Light.ttf');
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #14213d;
    --tertiary-color: #333333;
    --quaternary-color: #219ebc;

    --font-color-light: #f6f8fa;
    --font-color-dark: #333333;

    --section-padding: 0 5% 0 15%;
}

@media screen and (min-width: 1440px) {
    :root {
        --section-padding: 0 18% 0 18%;
    }
}

@media screen and (min-width: 2000px) {
    :root {
        --section-padding: 0 26% 0 26%;
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: stylish-regular;
    background-color: black;
}

body {
    max-width: 4096px;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding: 3rem 0;
    margin: 0;
    background-color: var(--primary-color);

    > section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 0 5%;
        margin: 0;

        @media screen and (min-width: 768px) {
            & {
                padding: var(--section-padding);
            }
        }

        h2 {
            font-size: 1.5rem;
            width: 100%;
        }
    }
}

a {
    color: var(--quaternary-color);
    text-decoration: none;
}

a:hover {
    filter: brightness(1.2);
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p,
ul {
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 0;
}

@media screen and (min-width: 768px) {
    p,
    ul {
        line-height: 1.6;
    }
}

@media screen and (min-width: 1040px) {
    p,
    ul {
        font-size: 1.2rem;
        line-height: 1.75;
    }
}

p {
    padding: 0;
}
