@font-face {
	font-family: hero;
	src: url("./assets/fonts/Comfortaa-Bold.ttf");
}

@font-face {
	font-family: body;
	src: url("./assets/fonts/SourceSansPro-Light.ttf");
}

@font-face {
	font-family: footer;
	src: url("./assets/fonts/OpenSans-Light.ttf");
}

html,
body {
	margin: 0;
	padding: 0;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
	width: 100%;
	padding: 4rem 2rem;
	background-color: #f6f8fa;
}

a:link {
	color: rgb(0, 163, 152);
}

a:visited {
	text-decoration: underline;
	color: rgb(0, 146, 136);
}

a:hover {
	text-decoration: underline;
}

p,
ul {
	max-width: 75ch;
	font-family: body;
	font-size: 1.2rem;
	text-align: justify;
	text-justify: inter-word;
}

p {
	margin: 0;
}
