#scrolling-table-section {
	width: 90%;
}

.table-responsive {
	max-width: calc(100vw);
}

th {
	font-family: footer;
}

#scrolling-table > tbody > tr:nth-child(1) {
	background-color: #727272;
	color: whitesmoke;
	font-weight: bolder;
}

#scrolling-table > tbody > tr:nth-child(7),
#scrolling-table > tbody > tr:nth-child(10),
#scrolling-table > tbody > tr:nth-child(16),
#scrolling-table > tbody > tr:nth-child(22),
#scrolling-table > tbody > tr:nth-child(26) {
	font-family: footer;
	background-color: #1b365d;
	color: whitesmoke;
	font-weight: bolder;
}
