.Table {
    position: relative;
    width: 100%;
    font-size: 0.9rem;
    border-collapse: collapse;

    th {
        text-align: left;
        padding: 0.6rem 0.5rem;
    }

    thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    tfoot th {
        vertical-align: top;
        border-top: 2px solid #dee2e6;
    }

    td {
        padding: 0.6rem 0.3rem;
        font-weight: 300;
        vertical-align: top;
    }

    tbody {
        tr:nth-child(odd) {
            background-color: #f8f9fa;
        }

        tr:nth-child(even) {
            background-color: #e2e2e2;
        }

        tr:nth-child(1) {
            background-color: var(--tertiary-color);
            color: var(--font-color-light);
        }

        tr {
            &:hover {
                color: var(--font-color-light);
                background-color: black;
            }
        }

        tr.group-header {
            font-family: stylish-light;
            background-color: var(--secondary-color) !important;
            color: var(--font-color-light) !important;
        }

        tr.group-header .center {
            user-select: none;
            color: transparent;

            @media screen and (min-width: 768px) {
                user-select: auto;
                color: inherit;
            }
        }

        tr.group-header .left {
            user-select: auto;
            color: inherit;

            @media screen and (min-width: 768px) {
                user-select: none;
                color: transparent;
            }
        }
    }
}
